In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.Series(np.random.randint(1,5),index=[1,2,3,4,5]) #manually creating a series
dt = pd.DataFrame({'number': [1, 2, 3, 4, 5]}, index=[0, 1, 2, 3, 4]) #manually creating a dataframe with index
print(data)
print(dt)

1    2
2    2
3    2
4    2
5    2
dtype: int64
   number
0       1
1       2
2       3
3       4
4       5

In [4]:
#creating a dataframe with random integers
x = pd.DataFrame(np.random.randint(1,5,(3,3)), columns=['a','b','c'],index=(1,2,3))
print(x)
# calculating determinant of the matrix
determinant = np.linalg.det(x.values)
print("Determinant of the matrix is:", determinant)

   a  b  c
1  3  2  4
2  3  4  3
3  2  3  2
Determinant of the matrix is: 1.000000000000001

In [5]:
dic = {"mani" : 123, "sai" : 456, "kiran" : 789} #creating a dictionary
df = pd.DataFrame(dic.items(), columns=['Name', 'Number']) #creating a dataframe from dictionary  
print(dic)
print(df)

{'mani': 123, 'sai': 456, 'kiran': 789}
    Name  Number
0   mani     123
1    sai     456
2  kiran     789

In [6]:
d = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]}) #creating a dataframe with two columns
print(d) #printing the dataframe
print(d['a']) # accessing the first column
print(d.iloc[0]) # accessing the first row

   a  b
0  1  4
1  2  5
2  3  6
0    1
1    2
2    3
Name: a, dtype: int64
a    1
b    4
Name: 0, dtype: int64

In [7]:
df1 = pd.Series(['a', 'b', 'c', 'd', 'e'], index=[1, 2, 3, 4, 5]) #creating a series with index
print(df1[1]) #accessing the first element of the series

a

In [8]:
# Creating a manual dataset with some null values
import pandas as pd
manual_data = pd.DataFrame({
    'Name': ['Aarav', 'Ishita', None, 'Rohan', 'Priya'],
    'Age': [25, None, 35, 40, None],
    'Gender': ['M', 'F', 'M', None, 'F']
})
print("Manual Data with Null Values:")
print(manual_data)

# Example of treating null values:
# Filling null values with a default value
manual_data_filled = manual_data.fillna({'Name': 'Unknown', 'Age': manual_data['Age'].mean(), 'Gender': 'Unknown'})
print("\nData after treating null values:")
print(manual_data_filled)

Manual Data with Null Values:
     Name   Age Gender
0   Aarav  25.0      M
1  Ishita   NaN      F
2    None  35.0      M
3   Rohan  40.0   None
4   Priya   NaN      F

Data after treating null values:
      Name        Age   Gender
0    Aarav  25.000000        M
1   Ishita  33.333333        F
2  Unknown  35.000000        M
3    Rohan  40.000000  Unknown
4    Priya  33.333333        F

In [9]:
x = pd.Series([1, 2, 3, 4, 5]) #creating a series with index
y = pd.DataFrame(np.random.randint(1,5,(3,3)), columns=list("abc"),index=(1,2,3)) #creating a dataframe with random integers
print(y)
det = np.linalg.det(y.values) #calculating the determinant of the matrix
det

   a  b  c
1  4  1  3
2  3  4  1
3  3  2  4

29.000000000000004

### Linear Algebra Functions in NumPy
NumPy provides a variety of linear algebra functions to perform operations such as matrix multiplication, determinant calculation, eigenvalues, and more.

In [10]:
import numpy as np

# Example matrix
matrix = np.random.randint(1, 10, (2,2))

# Matrix multiplication
result = np.dot(matrix, matrix)
print("Matrix Multiplication:\n", result)

# Determinant
det = np.linalg.det(matrix)
print("\nDeterminant:", det)

# Eigenvalues and Eigenvectors
eigenvalues, eigenvectors = np.linalg.eig(matrix)
print("\nEigenvalues:", eigenvalues)
print("Eigenvectors:\n", eigenvectors)

# Inverse of a matrix
inverse = np.linalg.inv(matrix)
print("\nInverse of the matrix:\n", inverse)

Matrix Multiplication:
 [[21 36]
 [12 21]]

Determinant: -2.9999999999999996

Eigenvalues: [ 6.46410162 -0.46410162]
Eigenvectors:
 [[ 0.8660254 -0.8660254]
 [ 0.5        0.5      ]]

Inverse of the matrix:
 [[-1.          2.        ]
 [ 0.66666667 -1.        ]]

In [11]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randn(5)) #creating a series with random numbers
ser

0    0.496714
1   -0.138264
2    0.647689
3    1.523030
4   -0.234153
dtype: float64

In [12]:
ser.sum()

2.2950148716254297

In [13]:
ser.mean()

0.45900297432508597

In [14]:
x = pd.Series([1, 2, 3, 4, np.nan, None, 0])#creating a series with index
pd.isnull(x)

0    False
1    False
2    False
3    False
4     True
5     True
6    False
dtype: bool

In [15]:
pd.notnull(x) #opposite of isnull

0     True
1     True
2     True
3     True
4    False
5    False
6     True
dtype: bool

In [16]:
y = pd.DataFrame({'a': [1, 2, None], 'b': [np.nan, 5, 6]}) #creating a dataframe with two column
y.fillna(0) #filling the null values with 0

     a    b
0  1.0  0.0
1  2.0  5.0
2  0.0  6.0

In [31]:
# Creating a dataframe with 'key' and 'index' columns
keys = ['A','A','B','C','c','D','D']
df_key_index = pd.DataFrame({'index': range(7), 'keys': keys})  # Corrected syntax
print(df_key_index)

   index keys
0      0    A
1      1    A
2      2    B
3      3    C
4      4    c
5      5    D
6      6    D

In [37]:
df_key_index['keys'] = df_key_index['keys'].str.upper()

In [44]:
df_key_index.groupby("keys").sum()

      index
keys
A         1
B         2
C         7
D        11

In [45]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
 'data': range(6)}, columns=['key', 'data'])

In [47]:
df.groupby('key').sum()

     data
key
A       3
B       5
C       7

In [48]:
df.describe()

           data
count  6.000000
mean   2.500000
std    1.870829
min    0.000000
25%    1.250000
50%    2.500000
75%    3.750000
max    5.000000